{% extends "base.html.twig" %}

{% block title %}Evenement{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Evenement</h1>
    <main>
        <h1>{{ evenement.titre }}</h1>
        
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#Modal{{evenement.idEvenement  }}">Participer</button>

        {% include 'utils/pupop/participer_evenement_model.html.twig' %}
        {% include 'maps/maps_show.html.twig' %}
    </main>
{% endblock %}
