{% extends "base.html.twig" %}

{% block title %}Evenement{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Evenement</h1>
    <main>
        <h1>{{ evenement.titre }}</h1>
    </main>
{% endblock %}
