#profil{
    margin: 35px auto;
    width: 400px;
    text-align: center;
    
}
.card {
    box-shadow:0 0 0.5em #9F09AC;
    border-radius: 30px;
}
input, select {
    text-align: center;
}

#profil .card img {
    width:350px;
    margin: auto;
    padding: 20px;
}
#name {
    font-weight: bolder;
    text-align: center;
}

h5 {
    text-decoration: underline;
}

label {
    text-decoration: underline;
}

#button {
    display: flex;
    justify-content: space-evenly;
}

#bouton {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

#bouton button {
    margin-right: 15px;
}
.btn-success {
    border-radius: 15px;
    border-color:#EF1B93!important;
    background: linear-gradient(90deg, #EF1B93 0%, #8826D1 100%)!important;
}

.btn-success,.btn-danger {
    padding: 10px!important;
    font-size: 15px!important;
    border-radius: 15px;
}
.btn-success:hover,.btn-danger:hover,.btn-warning:hover {
    transform: translateY(-5px)!important; 
    cursor: pointer;
}
a.add {
    margin:0px!important;
    font-size: 15px!important;
    border-radius: 15px;
    color:white;
}

a.add:hover {
    transition: 0.3s;
    background-color: white; 
    color:#117a8b!important;
    cursor: pointer;
}