{% extends "base.html.twig" %}

{% block title %}Modifier une adresse{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Modifier une adresse</h1>
    <main>
        <form class="form-admin" method="POST" action="/admin/update/adresses">
            <div class="form-group">
                <label for="ville">Ville</label>
                <input type="text" maxlength="255" name="ville" class="form-control" id="ville" value="{{ adresse.villeLibelle }}" placeholder="Nom de la ville" required>
            </div>
            <div class="form-group">
                <label for="codePostal">Code postal</label>
                <input type="text" minlength="5" maxlength="5" pattern="[0-9]+" class="form-control" id="codePostal" value="{{ adresse.cpVille }}" placeholder="Le code postal doit faire 5 caractères (uniquement des chiffres)" required>
            </div>
            <div class="form-group">
                <label for="adresse">Adresse</label>
                <input type="text" maxlength="255" name="adresse" class="form-control" id="adresse" value="{{ adresse.libelleAdresse }}" placeholder="Adresse" required>
            </div>
            <h3>Position actuel</h3>
            {% include 'maps/maps_show.html.twig' %}
            <button type="submit" name="id" class="btn btn-primary" value="{{ adresse.idAdresse }}">Sauvegarder</button>
            <a href="/admin/adresses" class="btn btn-primary">Annuler</a>
        </form>
    </main>
{% endblock %}
