{% extends "base.html.twig" %}

{% block title %}Ajouter une adresse{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Ajouter une adresse</h1>
    <main>
        <form class="form-admin" method="POST" action="/admin/add/adresses">
              <div class="form-group">
                <label for="adresse">Adresse</label>
                <input type="text" maxlength="255" name="adresse" class="form-control" id="adresse" placeholder="Adresse" required>
            </div>
            <div class="form-group">
                <label for="ville">Ville</label>
                <input type="text" maxlength="255" name="ville" class="form-control" id="ville" placeholder="Nom de la ville" required>
            </div>
            <div class="form-group">
                <label for="codePostal">Code postal</label>
                <input type="text" minlength="5" maxlength="5" pattern="[0-9]+" name="codePostal" class="form-control" id="codePostal" placeholder="Le code postal doit faire 5 caractères (uniquement des chiffres)" required>
            </div>
            <input type="hidden" name="redirect_create_adresse_url" class="form-control" id="redirect_create_adresse_url" value="{{ urlRedirection }}">
            <button type="submit" name="id" class="btn btn-primary">Sauvegarder</button>
        </form>
    </main>
{% endblock %}
