{% extends "base.html.twig" %}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/admin.css"/>

{% endblock %}
{% block title %}Dashboard - Frameworkers
{% endblock %}


{% block content %}
	<h1 class="display-1 text-center mt-5">Espace administration Frameworkers</h1>
	<main>
		<section id="menu">
			
			<a href="/admin/create/evenements" class="card py-5 bg-vert text-white" style="width: 18rem;">Créer un évènement</a>
			
			
			<a href="/admin/evenements" class="card py-5 bg-bleu text-white" style="width: 18rem;">Gestion évènements</a>
			
			<a href="/admin/utilisateurs" class="card py-5 bgInfo text-white" style="width: 18rem;">Gestion utilisateurs</a>
			
			<a href="/admin/ecoles" class="card py-5 bgWarning text-white" style="width: 18rem;">Gestion écoles</a>
		
		    <a href="/admin/adresses" class="card py-5 bgSecondary text-white" style="width: 18rem;">Gestion adresses</a>
			
			<a href="/admin/promotions" class="card py-5 bgDanger text-white" style="width: 18rem;">Gestion promotions</a>
		
			<a href="/admin/categories" class="card py-5 bgDark text-white" style="width: 18rem;">Gestion catégories</a>
			
		</section>


	</main>
{% endblock %}


