{% extends "base.html.twig" %}

{% block title %}Menu d'administration{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Espace administrateur</h1>
    <main>
        <a href="/admin/create/evenements">Creer un evenement</a>
        <a href="/admin/evenements">Gerer les evenements</a>
        <a href="/admin/utilisateurs">Gerer les utilisateurs</a>
        <a href="/admin/ecoles">Gerer les ecoles</a>
        <a href="/admin/adresses">Gerer les adresses</a>
        <a href="/admin/promotions">Gerer les promotions</a>
    </main>
{% endblock %}
