{% extends "base.html.twig" %}

{% block title %}Modifier une categorie{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Modifier une categorie</h1>
    <main>
        <form class="form-admin" method="POST" action="/admin/update/categories">
            <div class="form-group">
                <label for="categorie">Nom categorie</label>
                <input type="text" name="categorie" class="form-control" id="categorie" value="{{ categorie.libelleCategorie }}" placeholder="Nom de la categorie">
            </div>
            <button type="submit" name="id" class="btn btn-primary" value="{{ categorie.idCategorie }}">Sauvegarder</button>
            <a href="/admin/categories" class="btn btn-primary">Annuler</a>
        </form>
    </main>
{% endblock %}
