<!-- Modal -->
<div class="modal fade" id="deleteModalwithcontraint{{ utilisateur.idUtilisateur }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel{{ utilisateur.idUtilisateur }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel{{ utilisateur.idUtilisateur }}">Suppression
                    utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/delete/utilisateurs/cascade" method="POST" autocomplete="off">
                    Impossible de supprimer l'utilisateur car il participe à un evenement
                    <input type="hidden" name="idUtilisateur" value="{{ utilisateur.idUtilisateur }}">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Forcer la Suppression</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>