<!-- Modal -->
<div class="modal fade" id="deleteModalBde{{ evenement.idEvenement }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel{{ evenement.idEvenement }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel{{ evenement.idEvenement }}">Suppression de votre
                    evenement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/bde/delete/evenements" method="POST" autocomplete="off">
                    Voulez vous supprimer votre évenement
                    <input type="hidden" name="id" value="{{ evenement.idEvenement }}">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>