<!-- Modal -->
<div class="modal fade" id="ModalP{{ evenement.idEvenement }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel}">Participer a cet evenement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/evenement/desincription" method="GET" autocomplete="off">
                    Etes-vous sur de vous désinscrire de cet évènement ?
                    <input type="hidden" name="idEvenement" value="{{ evenement.idEvenement }}">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Valider</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>