{% extends "base.html.twig" %}
{% block head %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/admin.css"/>

{% endblock %}
{% block title %}Modifier l'école
{% endblock %}


{% block content %}

	<h1 class="text-center mt-5">Modifier l'école</h1>
	<main>
		<section class="card event col-5 m-auto">
			<form class="form-admin" method="GET" action="/admin/update/ecoles">
				<div id="createEvent">
					<div class="form-group">
                		<label for="nomEcole">Nom école</label>
                		<input type="text" maxlength="255" name="nomEcole" class="form-control" id="nomEcole" value="{{ ecole.nomEcole }}" placeholder="Nom de l'école" required>
            		</div>
				</div>
				<div id="bouton">
					<button type="submit" name="id" class="btn btn-success mt-3" value="{{ ecole.idEcole }}">Sauvegarder</button>
					<a href="/admin/ecoles" class="btn btn-danger mt-3">Retour</a>
				</div>

			</form>
		</section>
	</main>

{% endblock %}
