<section class="events-next my-5 container">
	<h1 class="text-center">Evènements prochain</h1>
	<hr>
	<div class="all-events-next row">
		{% for evenement in evenementsProchain %} 
			{% include 'home/sections/card_event.html.twig' %}
		{% endfor %}
		
		</div>
		
		
	</section>