{% extends "base.html.twig" %}

{% block title %}Gestions des evenements{% endblock %}


{% block content %}
    <h1 class="display-1 text-center mt-5">Evenements</h1>
    <main>
    </main>
{% endblock %}
